<footer>
  &copy; <%= date(new Date(), 'YYYY') %>
  <span class="author">
    <%= config.author || '' %>
  </span>

  <span class="right">
    <!-- <a href="https://beian.miit.gov.cn">赣ICP备18013550号-1</a> -->
    <a href="https://github.com/iails01">Github</a>
  </span>
</footer>
